*{
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-family:Verdana, sans-serif;
    align-items: center;
}

body{
    font-family: Verdana,sans-serif;
    font-size: 20px;
    text-align: left;
    align-items: center;
    border: 4px solid  #fff;
    border-radius: 10px;
    border-color: white;
    color:cyan;
    background-color: black;
}

input{
    padding: 5px;
    margin:5px ;
    width: 100%;
    background-color: #fff;
    background: #fff;
}

button{
    border-radius: 6px;
    color: yellow;
    background-color: salmon;
    border-radius: 2px;
}

button:visited{
    background-color:darkgoldenrod;
}

button:hover{
    background-color:darkorchid;
}

h1{
    text-align: center;
    color:blue ;
}
